<template>
    <div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">


                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },

        methods: {

        },

        ready: function() {

        },

        route: {
            activate: function() {
            }
        }
    }
</script>