<style>
    .sidenav {
        padding: 0 15px 0 0;
        border-right: 1px solid #ccc;
    }
</style>

<template>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-3 list-group sidenav">
                    <a href="#" class="list-group-item active" v-link="{path: '/staff/servers', activeClass: 'active'}">
                        <div class="pull-right"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
                        Server List
                    </a>
                    <a href="#" class="list-group-item active" v-link="{path: '/staff/servers/statuses', activeClass: 'active'}">
                        <div class="pull-right"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                        Statuses
                    </a>
                </div>
                <div class="col-sm-9">
                    <router-view transition="fade" transition-mode="out-in"></router-view>
                </div>
            </div>
        </div>
    </div>
</template>