<template>
    <div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" v-if="isEdit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete this category?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This cannot be undone. Any existing boards within the category will not be visible until they are reassigned to a new category manually.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" v-on:click="deleteCategory">Delete Category</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h3 v-if="!isEdit">New Category</h3>
        <h3 v-if="isEdit">Edit Category: {{category.name}}</h3>
        <hr />
        <form v-on:submit.prevent="saveCategory()">
            <div class="form-group">
                <label>Category Name</label>
                <input type="text" v-model="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Position</label>
                <select class="form-control" v-model="position">
                    <template v-for="category in categories">
                        <option value="{{category.order}}">{{category.placeholder}}</option>
                    </template>
                </select> {{position}}
            </div>
            <div class="form-group">
                <label>Viewable By</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" disabled>
                        Option two is disabled
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" v-if="!isEdit">Create Category</button>
            <template v-if="isEdit">
                <button type="submit" class="btn btn-primary">Save Category</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </template>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                position: -1,
                categories: [],
                category: [],

                isEdit: false
            }
        },

        methods: {
            getCategories: function() {
                this.$http.get('forums/category').then(function(response) {
                    this.categories = response.data.forum_categories;

                    for(var i=0; i<this.categories.length; i++) {
                        this.categories[i].placeholder = "Before '" + this.categories[i].name + "'";
                    }
                    this.categories.push({
                        order: this.categories.length + 1,
                        placeholder: "Last"
                    });

                    // if editing, for consistency remove an option from the 'position' list
                    if(this.isEdit) {
                        var delIndex = -1;
                        for(var i=0; i<this.categories.length; i++) {
                            if(this.categories[i].id == this.category.id) {
                                delIndex = i;
                                break;
                            }
                        }
                        this.categories.splice(delIndex, 1);
                        this.position = this.category.order;
                    }
                    else {
                        this.position = this.categories[0].order;
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            getCategory: function(id, callback) {
                this.$http.get('forums/category/' + id).then(function(response) {
                    this.category = response.data.forum_category;
                    this.name = this.category.name;
                    this.position = this.category.order;

                    callback();
                }, function(response) {
                    console.log(response);
                });
            },

            saveCategory: function() {
                var data = {
                    name: this.name,
                    position: this.position
                };
                var url = (this.isEdit) ? 'forums/category/' + this.$route.params.id + '/save' : 'forums/category/create';
                this.$http.post(url, data).then(function(response) {
                    this.$router.go('/staff/forum/boards');
                }, function(response) {
                    console.log(response);
                });
            },

            deleteCategory: function() {
                this.$http.post('forums/category/' + this.$route.params.id + '/delete', {}).then(function(response) {
                    $('#deleteModal').modal('hide')
                    this.$router.go('/staff/forum/boards');
                }, function(response) {
                    console.log(response);
                });
            }
        },

        route: {
            activate: function() {
                var self = this;
                var id = this.$route.params.id;
                if(typeof id !== 'undefined') {
                    this.isEdit = true;
                    this.getCategory(id, function() {
                        self.getCategories();
                    });
                } else {
                    this.getCategories();
                }
            }
        }
    }
</script>