<style>
.sidenav {
    padding: 0 15px 0 0;
    border-right: 1px solid #ccc;
}

</style>

<template>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-3 list-group sidenav">
                        <a href="#" class="list-group-item active" v-link="{path: '/staff/forum', activeClass: 'active'}">
                            <div class="pull-right"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
                            Boards & Categories
                        </a>
                    <a href="#" class="list-group-item active" v-link="{path: '/staff/forum/modules', activeClass: 'active'}">
                        <div class="pull-right"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                        Thread Modules
                    </a>
                </div>
                <div class="col-sm-9">
                    <router-view transition="fade" transition-mode="out-in"></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },

        methods: {

        },

        ready: function() {

        },

        route: {
            activate: function() {
            }
        }
    }
</script>