<template>
    <div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete this server?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This cannot be undone. Status records for this server will not be deleted.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" v-on:click="deleteServer">Delete Server</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#new_server_form" aria-expanded="false" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Server
        </a>

        <div class="row collapse" id="new_server_form">
            <hr />

            <div class="well">
                <form class="form-horizontal" v-on:submit.prevent="createServer">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newServer.name" placeholder="eg. Pixelmon">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                  <input type="radio" aria-label="..." value="existing" v-model="newServer.category_type" checked>
                                </span>
                                <select class="form-control" v-model="newServer.category" v-bind:disabled="newServer.category_type == 'new'">
                                    <template v-for="category in list">
                                        <template v-if="$index == 0">
                                            <option v-bind:value="$key" selected>{{$key | capitalize}}</option>
                                        </template>
                                        <template v-else>
                                            <option v-bind:value="$key">{{$key | capitalize}}</option>
                                        </template>
                                    </template>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                  <input type="radio" aria-label="..." value="new" v-model="newServer.category_type">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="New Category Name" v-model="newServer.new_category" v-bind:disabled="newServer.category_type == 'existing'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">IP</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newServer.ip" placeholder="eg. 198.144.156.53">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Port</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="newServer.port" placeholder="eg. 25565">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">IP Alias</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="..." v-model="newServer.has_alias">
                                </span>
                                <input type="text" class="form-control" v-model="newServer.ip_alias" aria-label="..." v-bind:disabled="!newServer.has_alias" placeholder="eg. pcbmc.co">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model="newServer.show_port"> Show Port
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Add Server</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <hr />

        <template v-for="game in list">
            <h3>{{$key | capitalize}}</h3>
            <div class="well">
                <ul class="list-group">

                    <template v-for="server in game">
                    <li class="list-group-item" v-bind:class="{
                        'list-group-item-warning': server.tag == 'maintenance',
                        'list-group-item-danger': server.tag == 'offline',
                        'list-group-item-info': server.tag == 'hidden',
                    }">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>
                                    {{server.name}}
                                    <span class="small">( {{server.ip}} | {{server.port}} )</span>
                                </h4>
                            </div>
                            <div class="col-sm-4 text-right">
                                Last Queried: {{getLastStatus(server)}}
                            </div>
                        </div>

                        <div class="row collapse" id="server_{{server.id}}">
                            <div class="well">
                                <form class="form-horizontal" v-on:submit.prevent="saveServer(server)">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="server.name" placeholder="eg. Pixelmon">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Category</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                  <input type="radio" aria-label="..." value="existing" v-model="server.category_type" checked>
                                                </span>
                                                <select class="form-control" v-model="server.category" v-bind:disabled="server.category_type == 'new'">
                                                    <template v-for="category in list">
                                                        <template v-if="server.type == $key">
                                                            <option v-bind:value="$key" selected>{{$key | capitalize}}</option>
                                                        </template>
                                                        <template v-else>
                                                            <option v-bind:value="$key">{{$key | capitalize}}</option>
                                                        </template>
                                                    </template>
                                                </select>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                  <input type="radio" aria-label="..." value="new" v-model="server.category_type">
                                                </span>
                                                <input type="text" class="form-control" aria-label="..." placeholder="New Category Name" v-model="server.new_category" v-bind:disabled="server.category_type == 'existing'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">IP</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="server.ip" placeholder="eg. 198.144.156.53">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Port</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="server.port" placeholder="eg. 25565">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">IP Alias</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" aria-label="..." v-model="server.has_alias">
                                                </span>
                                                <input type="text" class="form-control" v-model="server.ip_alias" aria-label="..." v-bind:disabled="!server.has_alias" placeholder="eg. pcbmc.co">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" v-model="server.show_port"> Show Port
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Save Server</button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" v-on:click="setModalServer(server.id)">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <a class="btn btn-default" role="button" data-toggle="collapse" href="#server_{{server.id}}" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                </a>
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Ping</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{server.tag | capitalize}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" v-on:click.prevent="setTag(server, 'normal')">Normal / No Tag</a></li>
                                        <li><a href="#" v-on:click.prevent="setTag(server, 'offline')">Offline</a></li>
                                        <li><a href="#" v-on:click.prevent="setTag(server, 'maintenance')">Maintenance</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" v-on:click.prevent="setTag(server, 'hidden')">Hidden</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    </template>
                </ul>
            </div>
        </template>
    </div>
</template>

<script>
    var moment = require('moment');

    export default {
        data() {
            return {
                list: [],
                newServer: {
                    name: '',
                    ip: '',
                    port: '',
                    show_port: true,
                    ip_alias: '',
                    has_alias: false,
                    category_type: 'existing',
                    category: '',
                    new_category: ''
                },
                deleteId: -1
            }
        },

        methods: {
            getServers: function() {
                var self = this;
                this.$http.get('servers').then(function(response) {
                    this.list = response.data;

                    // check if each server has an ip alias
                    for(var key in this.list) {

                        // also ensure a category is set on the New Server form
                        if(self.newServer.category == '') {
                            this.newServer.category = key;
                        }

                        var servers = this.list[key];
                        for(var x=0; x<servers.length; x++) {
                            var server = servers[x];
                            if(server.ip_alias != null) {
                                server.has_alias = true;
                            }
                        }
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            getLastStatus: function(server) {
                if(server.latest_status == null)
                    return "Never";

                return moment(server.latest_status.date).fromNow();
            },

            setTag: function(server, tag) {
                var data = {
                    tag: tag
                };
                this.$http.post('servers/' + server.id + '/tag', data).then(function(response) {
                    if(response.data.success) {
                        server.tag = tag;
                        this.$dispatch('server-ping');
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            saveServer: function(server) {
                var data = {
                    name: server.name,
                    ip: server.ip,
                    port: server.port,
                    show_port: server.show_port
                };
                if(server.has_alias) {
                    data.ip_alias = server.ip_alias;
                }
                if(server.category_type == 'new') {
                    data.type = server.new_category;
                } else {
                    data.type = server.category;
                }
                this.$http.post('servers/' + server.id + '/save', data).then(function(response) {
                    if(response.data.success) {
                        $('#server_' + server.id).collapse('hide');
                        this.getServers();

                        this.$dispatch('server-ping');
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            setModalServer: function(id) {
                this.deleteId = id;
            },

            deleteServer: function() {
                var id = this.deleteId;
                if(id == -1)
                    return;

                this.$http.post('servers/' + id + '/delete', {}).then(function(response) {
                    if(response.data.success) {
                        $('#deleteModal').modal('hide');
                        this.getServers();

                        this.$dispatch('server-ping');
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            createServer: function() {
                var server = this.newServer;
                var data = {
                    name: server.name,
                    ip: server.ip,
                    port: server.port,
                    show_port: server.show_port
                };
                console.log(server.show_port);
                if(server.has_alias) {
                    data.ip_alias = server.ip_alias;
                }
                if(server.category_type == 'new') {
                    data.type = server.new_category;
                } else {
                    data.type = server.category;
                }
                this.$http.post('servers/create', data).then(function(response) {
                    if(response.data.success) {
                        $('#new_server_form').collapse('hide');
                        this.getServers();

                        this.newServer = {
                            name: '',
                            ip: '',
                            port: '',
                            show_port: true,
                            ip_alias: '',
                            has_alias: false,
                            category_type: 'existing',
                            category: '',
                            new_category: ''
                        };

                        this.$dispatch('server-ping');
                    }
                }, function(response) {
                    console.log(response);
                });
            }
        },

        route: {
            activate: function() {
                this.getServers();
            }
        }
    }
</script>