<template>
    <div>
        <a class="btn btn-lg btn-primary" href="#" role="button" v-link="{path:'/staff/forum/categories/new'}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Category
        </a>

        <hr />

        <template v-for="category in categories">
            <div class="pull-right">
                <span class="small">
                    Viewable by: <span class="glyphicon glyphicon-user" style="color: red"></span>
                </span>
            </div>
            <h3><a href="">{{category.name}}</a></h3>
            <div class="well">
                <ul class="list-group">

                    <template v-for="board in category.boards">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>{{board.name}}</strong>
                                <div class="small">
                                    <span class="glyphicon glyphicon-user" style="color: red"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" v-on:click="moveBoard(board.id, -1, false)" v-bind:disabled="board.order == 1">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" v-on:click="moveBoard(board.id, 1, false)" v-bind:disabled="board.order == category.boards.length">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
                            </div>
                        </div>
                        <ul class="list-group" v-if="board.child_boards.length > 0" style="margin-top:10px; margin-bottom:0">
                            <li class="list-group-item" v-for="childboard in board.child_boards">
                                <div class="row">
                                    <div class="col-sm-6">
                                        -- {{childboard.name}}
                                        <div class="small">
                                            <span class="glyphicon glyphicon-user" style="color: red"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default" v-on:click="moveBoard(childboard.id, -1, true)" v-bind:disabled="childboard.order <= 1">
                                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" v-on:click="moveBoard(childboard.id, 1, true)" v-bind:disabled="childboard.order >= board.child_boards.length">
                                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    </template>

                    <hr />
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-warning" v-on:click="moveCategory(category.id, -1)" v-bind:disabled="category.order <= 1">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-warning" v-on:click="moveCategory(category.id, 1)" v-bind:disabled="category.order >= categories.length">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </button>
                    </div>
                    <a class="btn btn-lg btn-warning" href="#" role="button" v-link="{path:'/staff/forum/categories/edit/' + category.id}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Board
                    </a>
                    <a class="btn btn-lg btn-warning" href="#" role="button" v-link="{path:'/staff/forum/categories/edit/' + category.id}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Category
                    </a>

                </ul>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                categories: []
            }
        },

        methods: {
            getBoards: function() {
                this.$http.get('forums/boards').then(function(response) {
                    this.categories = response.data.forum_categories;
                }, function(response) {
                    this.broadcastError(response);
                });
            },

            moveBoard: function(id, direction, isChild) {
                var data = {
                    direction: direction,
                    isChild: isChild.toString()
                };
                this.$http.post('forums/board/' + id + '/reorder', data).then(function(response) {
                    this.categories = response.data.forum_categories;
                }, function(response) {
                    this.broadcastError(response);
                });
            },

            moveCategory: function(id, direction) {
                var data = {
                    direction: direction
                };
                this.$http.post('forums/category/' + id + '/reorder', data).then(function(response) {
                    this.categories = response.data.forum_categories;
                }, function(response) {
                    this.broadcastError(response);
                });
            }
        },

        route: {
            activate: function() {
                this.getBoards();
            }
        }
    }
</script>