<style scoped>
    $chartColours: #df6745, #f76540, #ffcb05, #62cd9f, #b67baa;

    a {
        color: #2d70c9;
    }

    .board-desc
    {
        color: #666;
        font-size: 0.85em;
        letter-spacing: normal;
    }

    .table-boards tbody tr
    {
        margin-bottom: 2px;
        background: #fff;
    }

    .table-boards tbody tr td
    {
        padding: 22px 15px;
    }

    .table-boards h5
    {
        margin: 0 0 5px 0;
        font-size: 1.4em;
    }

    .table-boards .board-icon
    {
        width: 75px;
        height: 75px;
    }

    .table-boards .board-stats
    {
        width: 12%;
        text-align: center;
    }

    .table-boards .board-stats strong
    {
        margin: 0 0 5px 0;
        font-size: 1.2em;
        line-height: 1.1;
        display: block;
    }

    .table-boards .board-post
    {
        width: 30%;
        font-size: 0.8em;
    }

    .table-boards .board-post > div
    {
        display: inline-block;
        vertical-align: top;
    }

    .table-boards .board-post > :first-child
    {
        margin-right: 10px;
        padding-top: 5px;
    }

    .table-boards .board-child
    {
        background: #fff;
    }

    .table-boards .board-child td
    {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .circle
    {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 100%;
        position: relative;
    }

    .circle:before
    {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .circle-inner
    {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
    }

    .circle-text
    {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1em;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
    }

    .circle:nth-child(3n+1)
    {
        background: #56c7fa;
    }

    .circle:nth-child(3n+2)
    {
        background: #df6745;
    }

    .circle:nth-child(3n+3)
    {
        background: #ffcb05;
    }
</style>

<template>
    <table class="table table-boards">
        <thead>
            <tr>
                <th colspan="5">{{name}}</th>
            </tr>
        </thead>
        <tbody>

            <template v-for="board in boards">
                <tr>
                    <td class="board-icon">
                      <div class="circle">
                           <div class="circle-inner">
                               <div class="circle-text">
                                  <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                                </div>
                           </div>
                      </div>
                    </td>
                    <td class="board-name">
                        <h5><a href="#" v-link="{path: '/forums/board/' + board.id }">{{board.name}}</a></h5>
                        <span class="board-desc">{{board.description}}</span>
                    </td>
                    <td class="board-stats">
                        <strong>{{board.total_threads}}</strong>
                        <span class="board-desc">Topics</span>
                    </td>
                    <td class="board-stats">
                        <strong>{{board.total_posts}}</strong>
                        <span class="board-desc">Posts</span>
                    </td>
                    <td class="board-post">
                        <template v-if="board.latest_thread || board.latest_post">
                            <template v-if="board.latest_post">
                                <div>
                                    <img src="https://minotar.net/avatar/_andy/32.png" />
                                </div>
                                <div>
                                    Last post by <a href="#" v-link="{path:'/user/' + board.latest_post.user_id}">someone</a><br />
                                    in <a href="" v-link="{path:'/forums/topic/' + board.latest_thread.id}">{{board.latest_thread.title}}</a><br />
                                    {{getTimeAgo(board.latest_post.created_at)}}
                                </div>
                            </template>
                            <template v-else>
                                <div>
                                    <img src="https://minotar.net/avatar/_andy/32.png" />
                                </div>
                                <div>
                                    Last post by <a href="#" v-link="{path:'/user/' + board.latest_thread.root.user_id}">someone</a><br />
                                    in <a href="" v-link="{path:'/forums/topic/' + board.latest_thread.id}">{{board.latest_thread.title}}</a><br />
                                    {{getTimeAgo(board.latest_thread.last_post_at)}}
                                </div>
                            </template>
                        </template>
                        <template v-else>
                            No Post Yet
                        </template>
                    </td>
                </tr>

                <tr class="board-child" v-for="child in board.child_boards">
                    <td>

                    </td>
                    <td>
                        <h6><a href="#" v-link="{path: '/forums/board/' + child.id }">Child board</a></h6>
                    </td>
                    <td>
                        <strong>{{child.total_threads}}</strong>
                    </td>
                    <td>
                        <strong>{{child.total_posts}}</strong>
                    </td>
                    <td>

                    </td>
                </tr>
            </template>

        </tbody>
    </table>
</template>

<script>
    var moment = require('moment');

    export default {
        props: ['name', 'boards'],

        methods: {
            getTimeAgo: function(time) {
                return moment(time).fromNow();
            }
        }
    }
</script>