<style scoped>
    h3 {
        margin-top: 10px;
    }

    .username {
        font-size: 1.4em;
    }

    .date {
        color: #666;
    }

    .forum-post {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    dt, dd {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .user-stats {
        font-size: 0.8em;
        color: #666;
        font-weight: normal;
    }

    .user-stats .glyphicon {
        color: #df6745;
        margin-right: 5px;
    }

    .user-stats div {
        margin-bottom: 5px;
    }

    .liked-users li {
        margin-right: 3px;
        padding-right: 0;
    }
</style>

<template>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-8">
                    <h3><span class="glyphicon glyphicon-pushpin" v-if="thread.is_stickied" aria-hidden="true"></span> {{thread.title}}</h3>
                </div>
                <div class="col-sm-4 text-right">
                    <ul class="list-inline text-center">
                        <li>
                            <dt>{{thread.reply_count}}</dt>
                            <dd>Replies</do>
                        </li>
                        <li>
                            <dt>17</dt>
                            <dd>Posters</do>
                        </li>
                        <li>
                            <dt>{{thread.view_count}}</dt>
                            <dd>Views</do>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-body forum-post">
            <div class="col-sm-2 text-center">
                <span class="label label-success">Online</span>
                <p>
                <img src="https://minotar.net/avatar/_andy/64.png" alt="..." class="img-rounded">
                <p>
                <span class="label label-default">Admin</span>
                <span class="label label-default">Donator</span>

                <hr />

                <div class="user-stats">
                    <span class="pull-right">1,724</span>
                    <div class="text-left"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts</div>

                    <span class="pull-right">438</span>
                    <div class="text-left"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Topics</div>

                    <span class="pull-right">192</span>
                    <div class="text-left"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Thumbs</div>
                </div>

                </dl>
                <p>
                <span class="glyphicon glyphicon-text-background" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Former Names:"></span>
                <span class=" glyphicon glyphicon-king" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Events Won:"></span>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="username"><a href="#" v-link="{path: '/user/' + root.user_id}">Andy</a></p>
                    </div>
                    <div class="col-sm-4 text-right">
                        <span class="date">{{getTimeAgo(root.created_at)}}</span>
                    </div>
                </div>

                {{{root.message}}}

                <hr />

                Signature
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="list-inline liked-users">
                        <li>Liked by 17 users</li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png" class="img-circle"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png" class="img-circle"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png" class="img-circle"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png" class="img-circle"></li>
                        <li><img src="https://minotar.net/avatar/_andy/16.png" class="img-circle"></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> like
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> new post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var moment = require('moment');

    export default {
        props: ['thread', 'root'],

        methods: {
            getTimeAgo: function(time) {
                return moment(time).fromNow();
            }
        }
    }
</script>