<style scoped>
    h3 {
        margin-top: 10px;
    }

    .username {
        font-size: 1.4em;
    }

    .date {
        color: #666;
    }

    .forum-post {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    dt, dd {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .user-stats {
        font-size: 0.8em;
        color: #666;
        font-weight: normal;
    }

    .user-stats .glyphicon {
        color: #df6745;
        margin-right: 5px;
    }

    .user-stats div {
        margin-bottom: 5px;
    }

    .liked-users li {
        margin-right: 3px;
        padding-right: 0;
    }
</style>

<template>
    <div class="panel panel-default">
        <div class="panel-body forum-post">

            <div class="col-sm-2 text-center">
                <span class="label label-success">Online</span>
                <p>
                <img v-bind:src="getAvatar(users[post.user_id], 64)" alt="..." class="img-rounded">
                <p>
                <span class="label label-default">Admin</span>
                <span class="label label-default">Donator</span>

                <hr />

                <div class="user-stats">
                    <span class="pull-right">1,724</span>
                    <div class="text-left"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts</div>

                    <span class="pull-right">438</span>
                    <div class="text-left"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Topics</div>

                    <span class="pull-right">192</span>
                    <div class="text-left"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Thumbs</div>
                </div>

                </dl>
                <p>
                <span class="glyphicon glyphicon-text-background" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Former Names:"></span>
                <span class=" glyphicon glyphicon-king" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Events Won:"></span>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="username"><a href="">{{users[post.user_id].username}}</a></p>
                    </div>
                    <div class="col-sm-4 text-right">
                        <span class="date">{{getTimeAgo(post.created_at)}}</span>
                    </div>
                </div>

                {{{post.message}}}

                <hr />

                Signature
            </div>

        </div>

        <ul class="list-group collapse" id="replybox{{index}}" aria-expanded="false">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-1 text-centered">
                        <img src="https://minotar.net/avatar/_andy/32.png" alt="..." class="img-thumbnail">
                    </div>
                    <div class="col-xs-9">
                        <div id="replybox_editor{{index}}"></div>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-block" id="btnCreate" data-loading-text="Posting..." v-on:click="createReply(index, post.id)">Post</button>
                    </div>
                </div>
            </li>
        </ul>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-4 text-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> like
                        </button>
                        <button type="button" class="btn btn-default" v-on:click="toggleReplyEditor(index)">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> reply
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> new post
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" v-for="subreply in post.replies">

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail" v-bind:src="getAvatar(users[subreply.user_id], 32)" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading username"><a href="">{{users[subreply.user_id].username}}</a> - {{getTimeAgo(subreply.created_at)}}</h4>
                        {{{subreply.message}}}
                    </div>
                </div>
            </li>
        </ul>

    </div>
</template>

<script>
    var moment = require('moment');

    export default {
        props: [
            'thread_id',
            'post',
            'users',
            'index'
        ],

        methods: {
            getTimeAgo: function(time) {
                return moment(time).fromNow();
            },

            getAvatar: function(user, size) {
                if(user.alias == null)
                    return 'https://minotar.net/avatar/' + user.username + '/' + size + '.png';

                return 'https://minotar.net/avatar/' + user.alias + '/' + size + '.png';
            },

            toggleReplyEditor: function(id) {
                var box = $('#replybox' + id);
                var editor = $('#replybox_editor' + id);

                if (box.attr('aria-expanded') == "false") {
                    box.collapse('show');
                    editor.summernote({
                        placeholder: 'Write your reply here... (Highlight text to see the toolbar)',
                        focus: true,
                        airMode: true
                    });
                } else {
                    box.collapse('hide');
                    editor.summernote('destroy');
                }
            },

            createReply: function(id, parent_id) {
                var editor = $('#replybox_editor' + id);
                editor.summernote('disable');

                var postData = {
                    thread_id: this.thread_id,
                    parent_id: parent_id,
                    message: editor.summernote('code')
                };

                var self = this;
                this.$http.post('forums/post/create', postData).then(function(response) {
                    editor.summernote('enable');
                    editor.summernote('reset');
                    self.$dispatch('is_dirty', true)
                }, function(response) {
                    console.log(response);
                    editor.summernote('enable');
                });
            },
        }
    }
</script>