$colour-text-primary: #111211;
$colour-text-opposite: #fff;

$colour-primary: #2d70c9;
$colour-highlight: #df6745;
$colour-secondary: #3a4750;

$colour-primary-dark: darken($colour-primary, 5%);


//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

body
{
    padding-top: 85px; /* to compensate for the floating nav */
    //letter-spacing: 0.0625em;
    //color: $colour-text-primary;

    background: #fffcda;

    //font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

    //font-size: 14px;
    //line-height: 1.42857143;
    color: #555555;
}

.left-align
{
    text-align: left;
}

.right-align
{
    text-align: right;
}

.center-align
{
    text-align: center;
}

.text-emphasis
{
    color: #444;
}

.layout-width
{
    max-width: 1000px;
}

.layout-subnav
{
    height: 35px;
    width: 100%;
    background: $colour-highlight;
    padding-top: 5px;
    padding-bottom: 5px;
}

.layout-subnav-container
{
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.layout-subnav-container .btn-bevel-sm:first-child
{
    margin-right: 5px;
}

.layout-background
{
    background: #daf8ff;
    background: -moz-linear-gradient(top, #91cffe 0%, #daf8ff 74%);
    background: -webkit-linear-gradient(top, #91cffe 0%, #daf8ff 74%);
    background: linear-gradient(to bottom, #91cffe 0%, #daf8ff 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91cffe', endColorstr='#daf8ff', GradientType=0);

    border-bottom: 25px solid #cbeaf5;

    position: absolute;
    width: 100%;
    height: 360px;
    z-index: -1;

    -webkit-perspective: 100px; /* Chrome, Safari, Opera  */
    perspective: 100px;

    perspective-origin: 50% 75%;
    overflow: hidden;
}

.cloud
{
    width: 150px;
    height: 5px;
    background: rgba(199, 231, 255, 1);

    -webkit-transform: scale(1) rotateX(-45deg);
       -moz-transform: scale(1) rotateX(-45deg);
        -ms-transform: scale(1) rotateX(-45deg);
         -o-transform: scale(1) rotateX(-45deg);
            transform: scale(1) rotateX(-45deg);

    position: absolute;

    outline: 1px solid transparent;
}

.layout-view
{
    min-height: 250px;
}

.layout-header-buttons
{
    position: relative;
    bottom: 50px;
    min-height: 90px;
    margin-bottom: -20px;
}

.layout-header
{
    margin-top: 20px;
    text-align: center;
    min-height: 285px;
}

.layout-donator
{
    background: $colour-primary;
    border-bottom-color: $colour-primary-dark;
    color: $colour-text-opposite
}

.layout-donator > .panel-body
{
    padding-top: 10px;
    padding-bottom: 15px;
}

.layout-donator h5
{
    margin-bottom: 15px;
}

.layout-donator ul
{
    list-style: square;
    margin: 10px 0 20px 0;
}

.layout-donator li
{
    font-size: 0.9em;
    line-height: 2.0em;
    color: #b6d2f5;
}

.layout-donator > .panel-body > ul > li > a
{
    color: $colour-highlight;
}

.layout-footer
{
    padding: 0 15px 40px 15px;
}

.footer-divider
{
    padding-top: 10px;
}

.footer-divider .hr
{
    border-color: #ccc;
}

.progress-bar-donated
{
    background-color: $colour-highlight;
    border: 0;
}

.progress-bar-none
{
    background-color: transparent;
    color: #5c5c5c;
}

.large-contents
{
    line-height: 26px;
    font-size: 0.9em;
}

.logo
{
    margin-top: 50px;
    position: relative;
    z-index: 1;
    bottom: 25px;
    max-width:401px;
    width:100%
}

.list-server-item
{
    font-size: 0.8em;
    color: $colour-text-opposite;
    margin-bottom: 2px;
    letter-spacing: 0.02em;
    border-bottom: 0px;
}

.list-server-item a
{
    color: #fff;
    text-decoration: underline;
}

.list-server-item .badge
{
    background: #fff;
    font-weight: normal;
    font-size: 1.0em;
    letter-spacing: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    min-width: 70px;
    margin-top:-5px;
    margin-bottom:-5px;
    position:relative;
    bottom:1px;
}

.list-server-item .panel-body
{
    padding: 8px 20px 8px 20px;
}

.server-online
{
    background: $colour-highlight;
}

.server-online .badge
{
    color: $colour-highlight;
}

.server-offline
{
    background: #828282;
}

.server-offline .badge
{
    color: #828282;
}

.server-maintenance
{
    background: #9e4831;
}

.server-maintenance .badge
{
    color: #9e4831;
}

.list-server-cat
{
    font-size: 0.75em;
    padding-left: 20px;
    color: $colour-highlight;
    margin: 10px 0 2px 0;
}

.btn-bevel
{
    border: 0;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.btn-bevel-sm
{
    border: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-bevel-sm:hover
{
    text-decoration: none;
}

.btn-white
{
    background-color: #fff;
    border-bottom-color: #ccc;
    color: #333;
}

.btn-orange
{
    background-color: #df6745;
    border-bottom-color: #c4613f;
    color: #fff;
}

.btn-blue
{
    background-color: $colour-primary;
    border-bottom-color: $colour-primary-dark;
    color: #fff;
}

.btn-hover-orange:hover
{
    background-color: $colour-highlight;
    border-bottom-color: #c4613f;
    color: #fff;
}

.btn-hover-white:hover
{
    background-color: #fff;
    border-bottom-color: #ccc;
    color: #333;
}

.btn-hover-blue:hover
{
    background-color: #2d70c9;
    border-bottom-color: #2465b7;
    color: #fff;
}

.navbar .navbar-inner
{
    padding: 0;
}

.navbar
{
    background: #2d70c9;
    border: 0;
    border-bottom: 6px solid $colour-primary-dark;
    font-size: 0.85em;
    min-height: 40;
}

/*
 * Full width PC screen
 */
@media only screen and (min-width : 768px)
{
    .navbar
    {
        height: 50px;
    }

    .navbar-nav
    {
        display: table;
        width: 100%;
        margin: 0;
    }

    .navbar-nav > li
    {
        display: table-cell;
        float:none;
        border-left: 1px solid $colour-primary-dark;
    }

    .navbar-nav > li:last-child
    {
        border-right: 1px solid $colour-primary-dark;
    }
}

/*
 * Phone / Tablet / collapsed width
 */
@media only screen and (max-width : 768px)
{
    .navbar-nav
    {
        margin: 0;
    }

    .navbar-nav > li
    {
        border: 0;
    }

    .layout-header
    {
        margin-bottom: 20px;
    }
}

.top-nav {
  .navbar-nav > li {
    text-align: center;
    text-transform: uppercase;
  }

  .navbar-nav > li > a > .caret {
    margin-left: 5px;
  }

  .navbar-toggle {
    border-color: #333;
  }

  .navbar-toggle .icon-bar {
    background-color: #FFF;
  }

  .navbar-toggle:hover {
    background-color: #333;
  }

  /*
   * Main Nav: item
   */
  .navbar-nav > li > a {
    color: #fff;
  }

  .navbar-nav > li > a:hover {
    color: #ccc;
    background: transparent;
  }

  /*
   * Main Nav: active item
   */
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    color: lighten($colour-primary, 20%);
    background-color: darken($colour-primary, 2%);
  }

  /*
   * Main Nav: drop-down item
   */
  .nav .open > a,
  .nav .open > a:focus,
  .navbar-nav > li > a:focus {
    background: #df6745;
    color: #fff;
  }

  .nav .open > a:hover {
    color: #ccc;
  }

  .dropdown-menu {
    padding: 0;
    border: 0;
    width: 100%;
  }

  .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    font-size: 0.8em;
    color: #eee;
  }

  .dropdown-menu > li:nth-child(even) {
    background: #979797;
  }

  .dropdown-menu > li:nth-child(odd) {
    background: #868686;
  }

  .dropdown-menu > li:last-child > a {
    border: 0;
  }
}

.scroll-top-wrapper {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 60px;
    height: 60px;
    line-height: 48px;
    padding-top: 8px;
    border-radius: 10px;
    font-size:25px;

    -webkit-transition: all 0.25s ease-in-out;
       -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
         -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
}

.scroll-top-wrapper:hover
{
    background-color: #2465b7;
}

.scroll-top-wrapper.show
{
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}

.scroll-top-wrapper i.fa
{
    line-height: inherit;
}

.footer-sitemap a
{
    font-size: 0.85em;
}

.list-inline > li
{
    vertical-align: top;
    margin-right: 15px;
}

.list-inline > li:last-child
{
    margin-right: 0px;
}

.panel-heading-page {
    background-color: #2d70c9;
    border-color: #DDD;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

  h1, h2, h3, h4, h5 {
    color: #fff;
    font-size: 1.3em;
  }

  :first-child {
    margin-top:10px;
  }
}

.subnav > li
{
    height: 35px;
    border-right: 1px solid #c36040;
}

.subnav > li:first-child
{
    border-left: 1px solid #c36040;
}

.subnav > li a
{
    color: $colour-text-opposite;
}

.panel-primary h5 {
  color: #fff;
}