<style>
    .fade-transition {
        transition: all .1s ease;
        /*transition: opacity .1s ease;*/
    }
    .fade-enter, .fade-leave {
        opacity: 0;
        /*transform: translate3d(0, 50px, 0);*/
    }
</style>

<template>
    <div>
    <nav class="navbar navbar-fixed-top top-nav" role="navigation">
        <div class="container layout-width">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li v-bind:class="{'active' : selectedTab == 'home'}"><a href="" v-link="{ path: '/' }">Home</a></li>
                    <li v-bind:class="{'active' : selectedTab == 'forums'}"><a href="" v-link="{ path: '/forums' }">Forums</a></li>
                    <li v-bind:class="{'active' : selectedTab == 'info'}">
                        <a href="#contact" data-toggle="dropdown" class="dropdown-toggle">
                            Server Info <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="" v-link="{ path: '/info/faq' }">FAQ</a></li>
                            <li><a href="" v-link="{ path: '/info/rules' }">Rules & Guidelines</a></li>
                            <li><a href="" v-link="{ path: '/info/commands' }">Commands</a></li>
                            <li><a href="" v-link="{ path: '/info/ranks' }">Ranks</a></li>
                            <li><a href="" v-link="{ path: '/info/economy' }">Economy</a></li>
                            <li><a href="" v-link="{ path: '/info/staff' }">Staff</a></li>
                        </ul>
                    </li>
                    <li v-bind:class="{'active' : selectedTab == 'community'}">
                        <a href="#contact" data-toggle="dropdown" class="dropdown-toggle">
                            Community <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="http://wiki.projectcitybuild.com" target="_blank">Wiki</a></li>
                            <li><a href="" v-link="{path: '/community/banappeal'}">Appeal a Ban</a></li>
                            <li><a href="#">Report a Player</a></li>
                            <li><a href="#">Apply for Staff</a></li>
                        </ul>
                    </li>
                    <li v-bind:class="{'active' : selectedTab == 'stats'}">
                        <a href="#contact" data-toggle="dropdown" class="dropdown-toggle">
                            Player Stats <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Economy Stats</a></li>
                            <li><a href="" v-link="{path: '/stats/banlist'}">Ban List</a></li>
                            <li><a href="" v-link="{path: '/stats/maps'}">Real-Time Maps</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">Vote For Us</a></li>
                </ul>
            </div>
        </div>

        <div class="layout-subnav">
            <div class="layout-width container layout-subnav-container">

                    <template v-if="userState.authorised">
                        <div class="col-xs-5">

                        </div>
                        <div class="col-xs-7" style="margin-top:-7px">

                            <div class="pull-right">
                            <ul class="nav nav-pills subnav">
                                <li role="presentation" class="dropdown">
                                    <a href="#" v-link="{path:'/staff'}" role="button">
                                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Admin
                                    </a>
                                </li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                      <span class="badge"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 4</span>
                                      <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                      ...
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    ...
                                  </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img v-bind:src="userState.user.avatar" /> {{userState.user.displayName}} <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li><a href="" v-on:click.prevent="logout">Logout</a></li>
                                  </ul>
                                </li>
                            </ul>
                            </div>

                        </div>
                    </template>

                    <template v-else>
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-8 text-uppercase right-align">
                            <a class="btn-sm btn-bevel-sm btn-white btn-hover-orange" href="" v-link="{ path: '/register' }" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Sign Up
                            </a>
                            <a class="btn-sm btn-bevel-sm btn-blue btn-hover-orange" href="#" role="button" data-toggle="modal" data-target="#loginModal">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
                            </a>
                        </div>
                    </template>

            </div>
        </div>
    </nav>

    <login-modal v-if="!userState.authorised"></login-modal>

    <div class="scroll-top-wrapper" onclick="scrollToTop()">
        <span class=" glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </div>

    <div class="layout-background"></div>

    <div class="layout-width container">
        <div class="row layout-header">
            <div class="col-sm-6">
                <img class="logo" src="img/logo_v2.png" />
            </div>
            <div class="col-sm-6 left-align layout-servers">

                <server-feed></server-feed>

            </div>
        </div>

        <div class="layout-view">
            <router-view transition="fade" transition-mode="out-in"></router-view>
        </div>

        <div class="row footer-divider">
            <hr style="border-color:#ccc" />
        </div>
        <div class="row layout-footer">

            <ul class="list-inline footer-sitemap">
              <li>
                <h6>Server Info</h6>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Rules & Guidelines</a></li>
                    <li><a href="#">Commands</a></li>
                    <li><a href="#">Ranks</a></li>
                    <li><a href="#">Economy</a></li>
                    <li><a href="#">Staff</a></li>
                </ul>
              </li>
              <li>
                <h6>Community</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Wiki</a></li>
                </ul>
              </li>
              <li>
                <h6>Appeal / Report</h6>
                <ul class="list-unstyled">
                    <li><a href="">Appeal a Ban</a></li>
                    <li><a href="#">Report a Player</a></li>
                    <li><a href="#">Report Server Crash</a></li>
                    <li><a href="#">Apply for Staff</a></li>
                </ul>
              </li>
              <li>
                <h6>Player Stats</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Economy Stats</a></li>
                    <li><a href="#">Ban List</a></li>
                    <li><a href="#">Real-Time Maps</a></li>
                    <li><a href="#">Server Activity</a></li>
                    <li><a href="#">Forum Activity</a></li>
                </ul>
              </li>
              <li>
                <h6>Misc</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Vote For Us</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
                <br />
                <h6>Open Source</h6>
                <ul class="list-unstyled">
                    <li><a href="#">PCBridge</a></li>
                </ul>
              </li>
            </ul>
        </div>

    </div>
    </div>
</template>

<script>
    import AuthService from '../services/auth';
    import UserStore from '../stores/user';

    export default {
        data() {
            return {
                userState: UserStore.state,
                selectedTab: ''
            }
        },

        components: {
            'server-feed': require('../components/server-feed.vue'),
            'login-modal': require('../components/login-modal.vue')
        },

        methods: {
            logout: function() {
                AuthService.clearStorage();
                UserStore.clearUser();
            }
        },

        events: {
            'onTabSelected': function(tab) {
                if(tab == '')
                    tab = null;

                this.selectedTab = tab;
            },

            'server-ping': function() {
                this.$broadcast('server-ping');
            }
        },

        created: function() {
            // make sure token is still valid by retrieving the user
            AuthService.retrieveUser(this, function(user) {
                UserStore.setUser(user);
                console.log("success");
            }, function(error) {
                console.log(error);
                console.log("clearing auth token");
                UserStore.clearUser();
                AuthService.clearStorage();
            });
        }
    }
</script>