<template>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">

                <div class="panel-heading-page">
                    <h3>Appeal a Ban</h3>
                </div>

                <div class="panel-body large-contents">
                    <p>
                        If you have been <strong>wrongfully banned</strong>, please post an appeal and we will investigate it as soon as possible.
                        If you are <strong>seeking a second chance</strong>, you may also plead your case for consideration.
                    </p>
                    Please monitor your appeal as you may be required to reply or give evidence.
                </div>
            </div>

            <div class="panel panel-danger" v-if="!isLoggedIn">
                <div class="panel-heading">
                    You must be logged-in to post a ban appeal!
                </div>
                <div class="panel-body">
                    Please <a href="" v-link="{path: '/register'}">create an account</a> or <a href="" data-toggle="modal" data-target="#loginModal">login</a> - they're both instant.
                </div>
            </div>

            <div class="panel panel-default" v-if="isLoggedIn">
                <div class="panel-body">
                    <span class="large-contents">
                        <p class="lead">
                            When appealing, be as descriptive as possible and provide substantial information.
                        </p>
                    </span>
                    <hr />

                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">In-Game Username</label>
                            <input class="form-control" type="text" placeholder="Username" readonly>
                            <span id="helpBlock" class="help-block">
                                Case sensitive - we use this to check our ban records. <br />
                                If this does not match your in-game username, please change the <i>Alias</i> in your profile settings.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Why Were You Banned?</label>
                            <textarea class="form-control" rows="3" placeholder="eg. Destroyed another player's building"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Why Should You Be Unbanned?</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Server/s Banned From</label>
                            <select class="form-control">
                                <option>All Servers</option>
                                <option>Minecraft: Survival/Creative</option>
                                <option>Minecraft: Feed The Beast</option>
                                <option>Minecraft: Pixelmon</option>
                                <option>Terraria</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6Lc24eESAAAAAH8h9knuPt6RsSBrUKjw2VoywGE5"></div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-default">Submit Appeal</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UserStore from '../stores/user.js';

    export default {
        data() {
            return {
                userState: UserStore.state
            }
        },

        computed: {
            isLoggedIn: function() {
                return this.userState.authorised;
            }
        },

        methods: {

        },

        ready: function() {
            this.$dispatch('onTabSelected', 'community');
        }
    }
</script>