<template>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">

                <div class="panel-heading-page">
                    <h3>Banned Players</h3>
                </div>

                <div class="panel-body">
                    <p class="lead">List of players currently banned from connecting to our game servers.</p>

                    Visit <a href="" v-link="{path: '/community/banappeal'}">here</a> if you wish to appeal a ban.
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </li>
                    <li class="list-group-item">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Username</th>
                                <th>Reason</th>
                                <th>Banned By</th>
                                <th>Ban Date</th>
                                <th>Expiry Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="ban in bans">
                                <th scope="row">1</th>
                                <td></td>
                                <td>{{ban.player_name}}</td>
                                <td>{{ban.ban_reason}}</td>
                                <td>{{ban.staff_name}}</td>
                                <td>{{ban.ban_date}}</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                bans: []
            }
        },

        methods: {
            getList: function() {
                this.$http.get('ban/list').then(function(response) {
                    if(response.data) {
                        this.bans = response.data.banlists;
                    }
                }, function(response) {
                    console.log(response);
                });
            }
        },

        created: function() {
            this.getList();
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'stats');
        }
    }
</script>