<template>
    <div>
        <div class="col-sm-12">

            <form action="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New Topic
                </div>

                <div class="panel-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Title</label>
                      <input type="text" class="form-control" placeholder="Thread Title" v-model="title">
                    </div>

                    <div id="summernote"></div>
                </div>

                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-info" v-on:click="getPreview">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Preview
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" v-on:click="createTopic" id="btnCreate" data-loading-text="Posting...">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Create Topic
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Save to Drafts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </form>


            <div class="panel panel-info" v-show="preview">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="col-sm-4 text-right">
                            <ul class="list-inline text-center">
                                <li>
                                    <dd>Replies</do>
                                    <dt>42</dt>
                                </li>
                                <li>
                                    <dd>Posters</do>
                                    <dt>17</dt>
                                </li>
                                <li>
                                    <dd>Views</do>
                                    <dt>10,322</dt>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-body forum-post">
                    <div class="col-sm-2 text-center">
                        <span class="label label-success">Online</span>
                        <p>
                        <img src="https://minotar.net/avatar/_andy/64.png" alt="..." class="img-rounded">
                        <p>
                        <span class="label label-default">Admin</span>
                        <span class="label label-default">Donator</span>

                        <hr />

                        <div class="user-stats">
                            <span class="pull-right">1,724</span>
                            <div class="text-left"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts</div>

                            <span class="pull-right">438</span>
                            <div class="text-left"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Topics</div>

                            <span class="pull-right">192</span>
                            <div class="text-left"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Thumbs</div>
                        </div>

                        </dl>
                        <p>
                        <span class="glyphicon glyphicon-text-background" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Former Names:"></span>
                        <span class=" glyphicon glyphicon-king" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Events Won:"></span>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-8">
                                <p class="username"><a href="">Andy</a></p>
                            </div>
                            <div class="col-sm-4 text-right">
                                <span class="date">17 days ago</span>
                            </div>
                        </div>

                        {{{preview}}}

                        <hr />

                        Signature
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <ul class="list-inline liked-users">
                                <li>Liked by 17 users</li>
                                <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                                <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                                <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                                <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                                <li><img src="https://minotar.net/avatar/_andy/16.png"></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> like
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> new post
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                preview: '',
                thread_model: 'post'
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'forums');
            var self = this;

            $('#summernote').summernote({
                height: 250,
                minHeight: 150,
                focus: true,
                placeholder: 'Write something here...'
            });
        },

        methods: {
            getModelType: function() {
                var self = this;
                this.$http.get('forums/board/' + this.$route.params.board + '/type').then(function(response) {
                    console.log(response);
                    var data = response.data;
                    if(data.success) {
                        self.thread_model = data.type;
                    }
                }, function(response) {
                    console.log(response);
                });
            },

            createTopic: function() {
                var data = {
                    board: this.$route.params.board,
                    message: $('#summernote').summernote('code'),
                    title: this.title,
                    thread_type: this.thread_model,
                };

                var $btn = $('#btnCreate').button('loading');

                var self = this;
                this.$http.post('forums/thread/create', data).then(function(response) {
                    var data = response.data;
                    if(data.success) {
                        self.$router.go('/forums/topic/' + data.id);
                    }
                    $btn.button('reset');
                }, function(response) {
                    console.log(response);
                    $btn.button('reset');
                });
            },

            getPreview: function() {
                var data = {
                    html: $('#summernote').summernote('code')
                };

                var self = this;
                this.$http.post('forums/sanitise', data).then(function(response) {
                    self.preview = response.data;
                }, function(response) {
                    console.log(response);
                });
            }
        },

        route: {
           activate: function() {
               this.getModelType();
           }
        }
    }
</script>