<template>
    <div>
        <div class="col-sm-12">
            <div class="panel panel-default top-bar">
                <div class="panel-body">

                    <forum-category v-for="category in categories"
                        :name="category.name"
                        :boards="category.boards">
                    </forum-category>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Categories from '../components/forums/forum-category.vue';
    import ForumErrorMixin from '../mixins/forum-error.mixin.js';

    export default {
        data() {
            return {
                categories: []
            }
        },

        mixins: [ForumErrorMixin],

        components: {
            'forum-category': Categories,
        },

        methods: {
            getBoards: function() {
                this.$http.get('forums/boards').then(function(response) {
                    this.categories = response.data.forum_categories;
                }, function(response) {
                    this.broadcastError(response);
                });
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'forums');
        },

        route: {
            activate: function() {
                this.getBoards();
            }
        }
    }
</script>