<style>
    .forum-threads > tbody > tr > td {
        line-height: 25px;
        min-height: 35px;
        height: 35px;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .forum-threads .glyphicon {
        font-size: 1.5em;
    }

    .large-text {
        font-size: 1.2em;
    }
</style>

<template>
    <div>
        <div class="col-sm-12">
            <div class="panel panel-default top-bar">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="btn btn-primary btn-lg" v-link="{path: '/forums/board/' + board.id + '/topic'}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Topic
                        </a>
                    </div>

                    <h4>{{board.name}}</h4>

                    <forum-category v-if="hasChildBoards"
                        :name="'Child Boards'"
                        :boards="childBoards">
                    </forum-category>

                    <hr />

                    <div class="col-sm-6">
                        <strong>Topics</strong>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nav nav-tabs nav-justified">
                            <li role="presentation" v-bind:class="{'active': orderField == 'last_post_at'}"><a href="" v-on:click.prevent="sortBy('last_post_at')">Most Recent</a></li>
                            <li role="presentation" v-bind:class="{'active': orderField == 'reply_count'}"><a href="" v-on:click.prevent="sortBy('reply_count')">Most Replied</a></li>
                            <li role="presentation" v-bind:class="{'active': orderField == 'view_count'}"><a href="" v-on:click.prevent="sortBy('view_count')">Most Viewed</a></li>
                        </ul>
                    </div>

                    <table class="table table-responsive forum-threads">
                        <tbody>
                            <tr v-for="thread in stickiedThreads | orderBy orderField orderDirection" class="info">
                                <td class="text-center">
                                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                                </td>
                                <td>
                                    <a href="" v-link="{path: '/forums/topic/' + thread.id}" class="large-text">
                                        {{thread.title}}
                                        <span class="label label-warning" v-if="thread.isNew">New</span>
                                    </a><br />
                                    42 minutes ago by Andy
                                </td>
                                <td class="text-center">
                                    <span class="large-text"><strong>{{thread.reply_count}}</strong></span><br />
                                    Replies
                                    </td>
                                <td class="text-center">
                                    <span class="large-text"><strong>{{thread.view_count}}</strong></span><br />
                                    Views</td>
                                <td>
                                    <template v-if="thread.latest_post">
                                        <img class="media-object" src="https://minotar.net/avatar/_andy/32.png" />
                                        Last post by <a href="#" v-link="{path:'/user/' + thread.latest_post.user_id}">someone</a><br />
                                        {{getTimeAgo(thread.last_post_at)}}
                                    </template>
                                    <template v-else>
                                        No replies.
                                    </template>
                                </td>
                            </tr>
                            <tr v-for="thread in normalThreads | orderBy orderField orderDirection" v-bind:class="{'active': thread.is_locked}">
                                <td class="text-center">
                                    <template v-if="thread.is_locked">
                                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    </template>
                                    <template v-else>
                                        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                                    </template>
                                </td>
                                <td>
                                    <a href="" v-link="{path: '/forums/topic/' + thread.id}" class="large-text">
                                        {{thread.title}}
                                        <span class="label label-warning" v-if="thread.isNew">New</span>
                                    </a><br />
                                    {{getTimeAgo(thread.root.created_at)}} by Andy
                                </td>
                                <td class="text-center">
                                    <span class="large-text"><strong>{{thread.reply_count}}</strong></span><br />
                                    Replies
                                    </td>
                                <td class="text-center">
                                    <span class="large-text"><strong>{{thread.view_count}}</strong></span><br />
                                    Views</td>
                                <td>
                                    <template v-if="thread.latest_post">
                                        <img class="media-object" src="https://minotar.net/avatar/_andy/32.png" />
                                        Last post by <a href="#" v-link="{path:'/user/' + thread.latest_post.user_id}">someone</a><br />
                                        {{getTimeAgo(thread.last_post_at)}}
                                    </template>
                                    <template v-else>
                                        No replies.
                                    </template>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5">Nothing here. You could be the first to <a href="" v-link="{path: '/forums/board/' + board.id + '/topic'}">start a thread</a>!</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var moment = require('moment');

    import Categories from '../components/forums/forum-category.vue';
    import ForumErrorMixin from '../mixins/forum-error.mixin.js';
    import UserStore from '../stores/user.js';

    export default {
        data() {
            return {
                board: [],
                normalThreads: [],
                stickiedThreads: [],
                childBoards: [],
                readThreshold: 0,

                orderDirection: -1,
                orderField: 'last_post_at',

                userState: UserStore.state
            }
        },

        mixins: [ForumErrorMixin],

        computed: {
            hasChildBoards: function() {
                return this.childBoards.length > 0;
            }
        },

        components: {
            'forum-category': Categories,
        },

        methods: {
            getData: function(callback) {
                var self = this;
                self.$http.get('forums/board/' + this.$route.params.board).then(function(response) {
                    this.board = response.data.board;
                    this.normalThreads = response.data.threads.normal;
                    this.stickiedThreads = response.data.threads.stickied;
                    this.childBoards = response.data.board.child_boards;
                    this.readThreshold = response.data.read_storage_threshold;

                    this.checkIfNew(self.normalThreads);
                    this.checkIfNew(self.stickiedThreads);

                    if(callback != null) {
                        callback();
                    }

                }, function(response) {
                    this.broadcastError(response);
                });
            },

            sortBy: function(field) {
                if(this.orderField == field) {
                    this.orderDirection *= -1;
                } else {
                    this.orderDirection = -1;
                    this.orderField = field;
                }
            },

            checkIfNew: function(arr) {
                var maxDate = moment().subtract(this.readThreshold, 'days');
                for(var i=0; i<arr.length; i++) {
                    // threads with post activity older than the threshold is auto considered 'read'
                    if(!this.userState.authorised || moment(arr[i].last_post_at).isSameOrBefore(maxDate)) {
                        arr[i].isNew = false;
                        continue;
                    }

                    // otherwise check if the read date was before the latest post
                    if(!jQuery.isEmptyObject(arr[i].reads)) {
                        arr[i].isNew = moment(arr[i].reads[0].read_at).isBefore(arr[i].last_post_at);
                    } else {
                        arr[i].isNew = true;
                    }
                }
            },

            getTimeAgo: function(time) {
                return moment(time).fromNow();
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'forums');
        },

        route: {
            activate: function({next}) {
                this.getData(next);
            },

            canReuse: function(transition) {
                if(transition.to.path != transition.from.path) {
                    if(transition.to.params.board != transition.from.params.board) {
                        return false;
                    }
                }

                return true;
            }
        }
    }
</script>