<style scoped>
    .fade-transition
    {
      transition: opacity .1s ease;
    }
    .fade-enter, .fade-leave
    {
      opacity: 0;
    }

    .breadcrumb
    {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
    }

    .no-padding
    {
        margin: 0;
        padding: 0;
    }
</style>

<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default top-bar">
                    <div class="panel-body">

                        <div class="col-sm-8 no-padding">
                            <ul class="nav nav-pills">
                                <li role="presentation" class="active"><a href="" v-link="{path: '/forums'}">Forums</a></li>
                                <li role="presentation"><a href="#">Activity Feed</a></li>
                                <li role="presentation"><a href="#">Stats</a></li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        More <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a href="#" v-link="{path: '/forums/memberlist'}">Member List</a></li>
                                        <li role="presentation"><a href="#">Search</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-4 no-padding">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="pull-right">
                            search
                        </div>

                        <ol class="breadcrumb">
                            <li><a href="#" v-link="{path: '/forums/'}">Board Categories</a></li>
                            <li><a href="#">{{boardName}}</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <forum-alerts :queue="errors"></forum-alerts>
            </div>
        </div>

        <div class="row">
            <router-view transition="fade" transition-mode="out-in"></router-view>
        </div>
    </div>
</template>

<script>
    import Alerts from '../components/forums/forum-alerts.vue';

    export default {
        data() {
            return {
                errors: []
            }
        },

        components: {
            'forum-alerts': Alerts
        },

        events: {
            // catch any remaining unhandled AJAX errors for the forums
            'forum-error': function(response) {
                this.errors = [{
                    type: 'error',
                    message: response.data.message,
                    code: response.status
                }];
            }
        }

    }
</script>