<template>
    <div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete this thread?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This thread will be moved to the recycling bin if you proceed.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" v-on:click="deleteThread(true)">Delete Thread</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Restore this thread?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This thread will be moved back into public view if you proceed.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" v-on:click="deleteThread(false)">Restore Thread</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12">

            <thread-actions
                v-if="showActionBar"
                :thread_id="thread.id"
                :is_stickied="thread.is_stickied"
                :is_locked="thread.is_locked"
                :is_sealed="thread.is_sealed"
                :is_archived="thread.is_archived">
            </thread-actions>

            <poll-form class="collapse" id="pollForm"
                    :thread_id="thread.id">
            </poll-form>

            <poll-display
                    v-if="thread.poll != null"
                    :poll="thread.poll">
            </poll-display>

            <div class="panel panel-default" v-show="hasState">
                <ul class="list-group">
                    <li class="list-group-item" v-if="thread.is_locked">
                        <p><h4><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Topic Locked</h4></p>
                        <p>This thread was locked at {{thread.last_action_at}}. No further posts or replies can be written.</p>
                    </li>
                    <li class="list-group-item" v-if="thread.is_sealed">
                        <p><h4><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Topic Sealed</h4></p>
                        <p>This thread was sealed at {{thread.last_action_at}}. Staff members included, no further posts or replies can be written.</p>
                    </li>
                    <li class="list-group-item" v-if="thread.is_archived">
                        <p><h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Topic Archived ({{thread.last_action_at}})</h4></p>
                        <ul>
                            <li>No posts / replies can be written</li>
                            <li>No actions can be performed</li>
                        </ul>
                    </li>
                    <li class="list-group-item" v-if="isDeleted">
                        <p><h4>Topic Deleted</h4></p>
                        <p>This thread was deleted at {{thread.last_action_at}}. No regular members can see this thread.</p>
                        <hr />
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#restoreModal">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restore Thread
                        </button>
                    </li>
                </ul>
            </div>

            <div class="panel panel-danger" v-if="blockError == 'no_thread'">
                <div class="panel-heading">
                    <h3>Thread Not Found</h3>
                </div>
                <div class="panel-body">
                    The thread you are looking for does not exist. This could be because:
                    <ul>
                        <li>the thread was just deleted</li>
                        <li>an invalid URL</li>
                        <li>permission to view this thread was revoked</li>
                    </ul>
                </div>
            </div>

            <forum-thread
                    :thread="thread"
                    :users="user">
            </forum-thread>

            <forum-post
                v-for="reply in thread.root.posts"
                :post="reply"
                :users="users"
                :index="$index"
                :thread_id="thread.id">
            </forum-post>

            <thread-actions
                v-if="showActionBar"
                :thread_id="thread.id"
                :is_stickied="thread.is_stickied"
                :is_locked="thread.is_locked"
                :is_sealed="thread.is_sealed"
                :is_archived="thread.is_archived">
            </thread-actions>

            <div class="panel panel-primary" v-if="showPostBox">
                <div class="panel-heading">
                    Write New Post
                </div>

                <div class="panel-body">
                    <div id="post_editor"></div>
                </div>

                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" v-on:click="createPost" id="btnCreate" data-loading-text="Posting...">
                         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Add Post
                    </button>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import ForumThread from '../components/forums/forum-thread.vue';
    import ForumPost from '../components/forums/forum-post.vue';
    import ThreadActions from '../components/forums/forum-thread-actions.vue';
    import PollForm from '../components/forums/forum-poll-form.vue';
    import PollDisplay from '../components/forums/forum-poll-display.vue';
    import ForumErrorMixin from '../mixins/forum-error.mixin.js';

    export default {
        data() {
            return {
                thread: {
                    root: {
                        posts: []
                    }
                },
                users: [],
                blockError: '',

                showPostBox: true,
                showActionBar: true
            }
        },

        components: {
            'forum-thread': ForumThread,
            'forum-post': ForumPost,
            'thread-actions': ThreadActions,
            'poll-form': PollForm,
            'poll-display': PollDisplay
        },

        mixins: [ForumErrorMixin],

        computed: {
            isDeleted: function() {
                return this.thread.deleted_at != null;
            },

            hasState: function() {
                return this.thread.is_locked || this.thread.is_sealed || this.thread.is_archived || this.thread.deleted_at != null;
            }
        },

        methods: {
            getData: function() {
                this.$http.get('forums/thread/' + this.$route.params.topic).then(function(response) {
                    this.thread = response.data.thread;

                    // build user array with id as key
                    this.users = [];
                    var users = response.data.users;
                    for(var i=0; i<users.length; i++) {
                        var id = users[i].id;
                        this.users[id] = users[i];
                    }
                }, function(response) {
                    // handle 'no thread found' locally
                    if(response.status == "404") {
                        this.blockError = 'no_thread';
                        this.showPostBox = false;
                        this.showActionBar = false;
                        return;
                    }

                    this.broadcastError(response);
                });
            },

            createPost: function(id) {
                var editor = $('#post_editor');
                editor.summernote('disable');

                var postData = {
                    thread_id: this.thread.id,
                    parent_id: this.thread.root.id,
                    parent_type: this.thread.root_type,
                    message: editor.summernote('code')
                };

                var self = this;
                this.$http.post('forums/post/create', postData).then(function(response) {
                    editor.summernote('enable');
                    editor.summernote('reset');
                    self.getData();
                }, function(response) {
                    console.log(response);
                    editor.summernote('enable');
                });
            },

            deleteThread: function(isDelete) {
                var postData = {
                    delete: isDelete
                };
                var self = this;
                this.$http.post('forums/thread/' + this.thread.id + '/delete', postData).then(function(response) {
                    if(response.data.success) {
                        if(isDelete) {
                            $('#deleteModal').modal('hide');
                            this.$router.go('/forums/board/' + self.thread.board_id);
                        } else {
                            $('#restoreModal').modal('hide');
                        }
                        this.getData();
                    }
                }, function(response) {
                    console.log(response);
                });
            }
        },

        ready: function() {
            this.$dispatch('onTabSelected', 'forums');
            $('[data-toggle="tooltip"]').tooltip();

             $('#post_editor').summernote({
                 height: 250,
                 minHeight: 150,
                 focus: true,
                 placeholder: 'Write something here...'
             });
        },

        events: {
            'is_dirty': function() {
                this.getData();
                return false;
            }
        },

        route: {
            activate: function() {
                this.getData();
            }
        }
    }
</script>