<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading-page">
                <h3>In-Game Commands</h3>
            </div>

            <div class="panel-body large-contents">
                <p class="lead">Commands that can be used while on our servers.</p>

                <ol>
                    <li><a href="#">What is griefing?</a></li>
                    <li><a href="#">What anti-grief measures are in place?</a></li>
                    <li><a href="#">Someone has griefed my creations! What should I do?</a></li>
                    <li><a href="#">Someone stole items from my chest! What should I do?</a></li>
                </ol>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Filter:
            </div>
        </div>

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Rank Req.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><pre>/fly</pre></td>
                        <td>Enables flight mode (double-tap <kbd>Spacebar</kbd> to toggle on/off, <kbd>Shift</kbd> to decend)</td>
                        <td>Trusted+</td>
                    </tr>
                    <tr>
                        <td><pre>/tp [name]</pre></td>
                        <td>Teleports you to the specified player</td>
                        <td>Trusted+</td>
                    </tr>
                    <tr>
                        <td><pre>/send [name] [message]</pre></td>
                        <td>Sends a private message to the inbox of an online/offline player.</td>
                        <td>Guest+</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>