<template>
    <div>
        <div class="panel panel-default">

            <div class="panel-heading-page">
                <h3>Frequently Asked Questions</h3>
            </div>

            <div class="panel-body large-contents">
                <p class="lead">Table of Contents</p>

                <h6 style="padding-top:0">Bans / Griefing</h6>
                <ol>
                    <li><a href="#">What is griefing?</a></li>
                    <li><a href="#">What anti-grief measures are in place?</a></li>
                    <li><a href="#">Someone has griefed my creations! What should I do?</a></li>
                    <li><a href="#">Someone stole items from my chest! What should I do?</a></li>
                    <li><a href="#">Are others' crops allowed to be taken?</a></li>
                    <li><a href="#">I found an unlocked chest/furnace. Can I take the contents?</a></li>
                    <li><a href="#">I have been incorrectly banned. What should I do?</a></li>
                    <li><a href="#">Are infinite redstone loops banned?</a></li>
                    <li><a href="#">Are boats, minecarts and other transports banned?</a></li>
                    <li><a href="#">What hacks/mods/clients are permitted?</a></li>
                </ol>

                <h6>Server Crashes / Bugs</h6>
                <ol>
                    <li><a href="#">What should I do in the event of a server crash?</a></li>
                    <li><a href="#">What should I do in the event of an in-game glitch?</a></li>
                    <li><a href="#">How do I reclaim items lost to a server crash / glitch?</a></li>
                    <li><a href="#">How long does the server take to reboot?</a></li>
                    <li><a href="#">I'm stuck in a corrupted chunk. What now?</a></li>
                    <li><a href="#">I can't connect to the server. What do I do?</a></li>
                    <li><a href="#">Where do I post website glitches and bugs?</a></li>
                </ol>

                <h6>Ranks / Staff</h6>
                <ol>
                    <li><a href="#">How do I earn the Trusted rank?</a></li>
                    <li><a href="#">How do I apply for staff?</a></li>
                    <li><a href="#">Has my staff application been denied?</a></li>
                    <li><a href="#">My rank has not updated on the server</a></li>
                </ol>
            </div>
        </div>

        <div class="panel panel-default">
            <ul class="list-group large-contents">
                <li class="list-group-item">
                    <blockquote>
                        <h4>What is griefing?</h4>
                    </blockquote>
                    We define griefing as the act of modifying and/or destroying others' creations without their permission. It can also take the form of
                    verbal harassment, malicious conduct (such as attempting to crash the server), victimisation, spam or otherwise any act which may bring
                    distress to our players.
                </li>
                <li class="list-group-item">
                    <blockquote>
                        <h4>What anti-grief measures are in place?</h4>
                    </blockquote>
                    We define griefing as the act of modifying and/or destroying others' creations without their permission. It can also take the form of
                    verbal harassment, malicious conduct (such as attempting to crash the server), victimisation, spam or otherwise any act which may bring
                    distress to our players.
                </li>
              </ul>

        </div>
    </div>
</template>

<script>
    export default {
    }
</script>