<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading-page">
                <h3>Ranks</h3>
            </div>

            <div class="panel-body">
                test
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>