<template>
    <validator name="validator" :groups="['passwordGrp']">
        <form method="post" id="reg_form" novalidate>
            <div class="form-group form-group-lg">
                <label for="username" class="control-label">Username / In-Game Username</label>
                <div v-bind:class="usernameClass" class="has-feedback">
                    <input type="text" class="form-control" id="username" v-model="username" placeholder="Username" debounce="500" v-validate:username="{ required: true, minlength: 3, maxlength: 30 }">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" v-if="isUsernameValid"></span>
                </div>
                <div class="alert alert-danger" v-if="isUsernameInvalid">
                    <p v-if="$validator.username.required">Username cannot be blank.</p>
                    <p v-if="$validator.username.minlength">Must be at least 3 characters.</p>
                    <p v-if="$validator.username.maxlength">Cannot exceed 30 characters.</p>
                    <p v-if="$validator.username.errors">
                        <ul>
                            <li v-for="error in $validator.username.errors">
                                <p>{{error.message}}</p>
                            </li>
                        </ul>
                    </p>
                </div>
                <span id="helpBlock" class="help-block">This must match your Minecraft in-game username (<strong>case sensitive</strong>) if you have one.</span>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" v-bind:class="{ 'has-error': ($validator.passwordGrp.invalid && (isFormSubmitted || $validator.passwordGrp.touched)) }">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" v-model="password" group="passwordGrp" placeholder="Password" v-validate:password="{ required: true, minlength: 5, maxlength: 30 }">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" v-bind:class="{ 'has-error': ($validator.passwordGrp.invalid && (isFormSubmitted || $validator.passwordGrp.touched)) }">
                        <label for="password2" class="control-label">Password Confirm</label>
                        <input type="password" class="form-control" id="password2" group="passwordGrp" placeholder="Same Password" v-validate:password2="{ required: true, confirm: true }">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="alert alert-danger" v-if="$validator.passwordGrp.invalid && (isFormSubmitted || $validator.passwordGrp.touched)">
                        <p v-if="$validator.password.required">Passwords cannot be blank.</p>
                        <p v-if="$validator.password2.confirm">Passwords must match.</p>
                        <p v-if="$validator.password.minlength">Must be at least 5 characters.</p>
                        <p v-if="$validator.password.maxlength">Cannot exceed 30 characters.</p>
                    </div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{ 'has-error': ($validator.email.invalid && (isFormSubmitted || $validator.email.touched)) }">
                <label for="email" class="control-label">Email Address</label>
                <input type="email" class="form-control" v-model="email" placeholder="name@somewhere.com" v-validate:email="{ required: true, email: true, maxlength: 50 }">
                <div class="alert alert-danger" v-if="$validator.email.invalid && (isFormSubmitted || $validator.email.touched)">
                    <p v-if="$validator.email.required">Email cannot be blank.</p>
                    <p v-if="$validator.email.email">Must be a valid email address.</p>
                    <p v-if="$validator.email.maxlength">Cannot exceed 50 characters.</p>
                </div>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" id="recaptcha" data-sitekey="6Lc24eESAAAAAH8h9knuPt6RsSBrUKjw2VoywGE5"></div>
            </div>

            <div class="form-group">
                <span id="helpBlock" class="help-block">By creating an account, you have read and accepted our <strong>terms of service</strong>.</span>
                <input type="button" class="btn btn-default btn-lg" value="Create Account" id="submit" v-on:click="submit" data-loading-text="Creating...">
            </div>
        </form>
    </validator>
</template>

<script>
    import Auth from '../services/auth.js';
    export default {

        data() {
            return {
                username: '',
                password: '',
                email: '',

                isFormSubmitted: false
            }
        },

        validators: {
            confirm: function(val) {
                return this.password === val;
            },
            email: function(val) {
                var regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return regex.test(val);
            }
        },

        computed: {
            isUsernameInvalid: function() {
                return this.isFieldInvalid('username');
            },
            isUsernameValid: function() {
                return this.isFieldValid('username');
            },
            usernameClass: function() {
                return {
                    'has-error': this.isUsernameInvalid,
                    'has-success': this.isUsernameValid
                }
            }
        },

        methods: {
            submit: function() {
                this.isFormSubmitted = true;

                var btn = $('#submit');
                btn.button('loading');

                if(this.$validator.invalid) {
                    btn.button('reset');
                    return;
                }

                $("#reg_form :input").prop("disabled", true);

                var recaptcha = grecaptcha.getResponse();
                var formData = {
                    username: this.username,
                    password: this.password,
                    email: this.email,
                    recaptcha: recaptcha
                };

                var self = this;
                var resource = this.$resource('api/register/create');
                resource.save(formData).then(function (response) {
                    var data = response.data;

                    if(!data.success) {
                        var errors = data.errors;
                        for(var error in errors) {
                            self.$setValidationErrors([
                              { field: error, message: errors[error] }
                            ]);
                        }
                    }
                    else
                    {
                        var credentials = {
                            username: this.username,
                            password: this.password
                        };
                        var self = this;
                        Auth.login(self, credentials, function() {
                            self.$route.router.go('register/optional');
                        });
                    }

                    $("#reg_form :input").prop("disabled", false);
                    btn.button('reset');
                }, function (response) {
                    console.log(response);
                    $("#reg_form :input").prop("disabled", false);
                    btn.button('reset');
                });
            },

            isFieldValid: function(field) {
                return this.$validator[field].valid && (this.isFormSubmitted || this.$validator[field].touched);
            },

            isFieldInvalid: function(field) {
                return this.$validator[field].invalid && (this.isFormSubmitted || this.$validator[field].touched);
            },

            checkUsername: function() {
                var self = this;
                var resource = this.$resource('api/register/check/username');
                resource.save({username: this.username}).then(function (response) {
                    var data = response.data;
                    if(data.success && data.taken) {
                        console.log("taken");
                        self.$setValidationErrors([
                          { field: 'username', message: 'Username already taken' }
                        ]);
                    }
                }, function (response) {
                    console.log(response);
                });
            }
        },

        watch: {
            'username': function (val, oldVal) {
                this.checkUsername(val);
            }
        },

        ready: function() {
        }

    }
</script>