<style scoped>
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }

    .content {
        margin: 0;
    }

    .leftbar {
        background: #f5f5f5;
    }

    .rightbar {
        border-left: 1px solid #f5f5f5;
    }

    .no-padding {
        padding: 0;
    }

    .padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .label-col {
        color: #909090;
    }

    .info-row {
        margin-bottom: 7px;
    }
</style>

<template>
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row row-eq-height">
                        <div class="col-sm-8">

                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>

                <div class="panel-body no-padding">
                    <div class="row content">
                        <div class="col-sm-2 leftbar">
                            <div class="padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation" class="active"><a href="#">Profile</a></li>
                                    <li role="presentation"><a href="#">Minecraft</a></li>
                                    <li role="presentation"><a href="#">Economy</a></li>
                                    <li role="presentation"><a href="#">Forums</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="padding">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object img-thumbnail" src="https://minotar.net/avatar/_andy/64.png" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="media-heading">Andy</h3>
                                        Administrator | Donator<br />
                                        Last Seen: 23 minutes ago
                                    </div>
                                </div>

                                <hr />

                                <h4>General Info</h4>

                                <div class="row info-row">
                                    <div class="col-sm-3 label-col">Date Registered</div>
                                    <div class="col-sm-9">18th of September, 2011</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col-sm-3 label-col">Gender</div>
                                    <div class="col-sm-9">Male</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col-sm-3 label-col">Age</div>
                                    <div class="col-sm-9">N/A</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col-sm-3 label-col">Location</div>
                                    <div class="col-sm-9">Australia</div>
                                </div>

                                <hr />

                                <h4>Statistics</h4>

                                <div class="row info-row">
                                    <div class="col-sm-3 label-col">Total Posts</div>
                                    <div class="col-sm-9">1,823</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col-sm-3 label-col">Total Topics</div>
                                    <div class="col-sm-9">412</div>
                                </div>

                                <hr />
                            </div>
                        </div>
                        <div class="col-sm-3 rightbar">
                            <div class="padding">
                                <a class="btn btn-default btn-block" href="#" role="button">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Send Message
                                </a>
                            </div>

                            <hr />

                            <div class="padding">
                                <h4>Also known as...</h4>
                                <ul>
                                    <li>18th Nov, 2011: _andy</li>
                                    <li>22nd Apr, 2014: Andy</li>
                                </ul>
                            </div>

                            <hr />

                            <div class="padding">
                                <h4>Accolades / Awards</h4>
                                <div class="list-group">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">6 Year Club</h5>
                                            <span class="small">Member of PCB for more than 6 years</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">Big Build Winner</h5>
                                            <span class="small">Winner of the 2014 BigCity Big Build event</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
            }
        }

    }
</script>